/* reusable styles */

    body{
        font-family: 'Montserrat', sans-serif; 
        text-transform: capitalize;
        margin: 0;
    }
    .color-letter{
        color: orange;
    }
    #flexible{
        display: flex;
    }

    .sec-padding{
        padding: 35px 0;
    }
    .row{
        max-width: 50%;
        padding-left: 100px;
        margin: 0;
    }

    .row .btn{
        padding: 15px 35px;
        background-image: linear-gradient(#fba245, #ff1e1e);
        box-shadow: 0 2px 20px gray;
        border-radius: 100px;
        margin: 100px 0;
        line-height: 100px;
    }

    .section-title{
        margin-top: 100px;
        
    }

    /* header section */

    .header-section{
        background-image: url(../images/header-bg.png);
        background-repeat: no-repeat;
    }
    

    .row h1{
        font-size: 50px;
        padding: 0;
        color: #575757;
    }
    .row p{
        font-weight: 500;
        font-size: 14px;
        color: #828282;
        line-height: 26px;
        font-family: 'Montserrat', sans-serif; 
    }

    .row img{
        width: 100%;
    }

   

    .row a{
        text-decoration: none;
        color: white;
    }
   
    /* about section */
    .about-section{
        background-image: url(../images/about-bg.jpg);
        background-repeat: no-repeat;
    }
    .about-img img{
        width: 73.2%;
        
    }

    .about-details{
        padding-right: 150px;
    }

    .row h2{
        font-weight: 700;
        font-size: 40px;
        color: #707070;
    }